body, html{
	width: 100%;
	height: 100%;
	font-family: nobel, sans-serif;
	margin:0;
    padding:0;
}
.container {
	display: flex; 
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}
.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}
/**My home section**/
#home-section {
	height: 100vh; 
    display: flex;
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
    background-color: #2e2c32; 
    
	
    
}
/** ffffffde white 2e2c32 gray **/
.myname { 
    font-size: 825%;
    font-weight: 600;
    color: #ffffffde;
}
#myname2 {
    
    margin-bottom: 5%;
    margin-top: 5%;
    
}
.myemail { 
    margin: 0%;
    font-size: 20%;
    font-weight: 300;
    color: #ffffffde; 
    
    text-align: center;
  }
.social-links {
    margin-top: 0%;
    margin-left: 35%;
    margin-right: 35%;
    text-decoration: none;


}
a {
    text-decoration: none;
}
#github {
    width: 85px;
    text-decoration: none;

    
  }

 #linkedin {
    width: 55px;
    height: 55px;
    text-decoration: none;
  } 

/**About me section !**/
#about-me-section {
	background-color: #F0F0F0;
	padding: 50px;
   
 	min-height:100vh; 
}
.Hello-world {
    color: #2e2c32;
    display: block;
    letter-spacing: 2px;
	max-width: 100%;
	font-size: 205%;
    
}
#pic-of-myself { 
    margin-left: 5%;
    width: 40%;
    height: 50%;
}

#intro {
	margin: 40px;
	padding: 30px;
	overflow-y:auto;
	line-height: 22px;
	height: 390px;
	width: 500px;
	font-size: 90%;
	font-family: Monaco,monospace;
	border-radius: 4px;
	background-color: #2a2d34;
}

ul {
    margin: 0; 
	
}
.python-blue {
    color: #4873cf;
}
.python-green {
    color: #3dbd82;
}
.python-yellow {
    color: #c8db72;
}
.python-lightblue {
    color: #66aeca;
}
.parenth {
    color: #dec36a
}
.python-red {
    color: #c7947e;
}
#intro a { 
    text-decoration: underline;
}